<!DOCTYPE html>
{% extends 'layout.html' %}
{% block body %}
{{title}}
<form action ="/update_the_student" method = "POST" >
    <input type="hidden" name="id" value="{{student_list.id}}">
    <br>
    <br>
    <input type="text" name="name" value="{{student_list.name}}">
    <br>
    <br>
    <input type="text" name="website" value="{{student_list.website}}">
    <br>
    <br>
    <input type="text" name="git_user" value="{{student_list.git_user}}">
    <br>
    <br>
    <button type="submit" name="submit">Update</button>
</form>
{% endblock %}
